@import 'tailwindcss';
@plugin "tailwindcss-animate";

@custom-variant dark (&:where(.dark &));

:root {
  --background: #f8f9fa;
  --foreground: #111827;
}

.dark {
  --background: #0a0a0a;
  --foreground: #f9fafb;
}

/* Custom color variables for themes */
@theme {
  --font-sans: var(--font-harmony), sans-serif;

  /* First color : indigo */
  --color-custom-1: #7e47ff; /* indigo-600 */
  --color-custom-1-hover: #6b3edc; /* indigo-700 */
  --color-custom-1-dark: #9a7fff; /* indigo-400 */
  --color-custom-1-dark-hover: #7e47ff; /* indigo-500 */

  /* Second color : orange */
  --color-custom-2: #f26e52;
  --color-custom-2-hover: #d6553a;
  --color-custom-2-dark: #f57d65;
  --color-custom-2-dark-hover: #f26e52;

  /* INFO : backgrounds are : white for light theme and dark gray for dark theme */
}

/* Dark mode styles for Recharts */
.dark .recharts-cartesian-grid-horizontal line,
.dark .recharts-cartesian-grid-vertical line {
  stroke: #334155;
}

.dark .recharts-cartesian-axis-line {
  stroke: #475569;
}

.dark .recharts-text {
  fill: #94a3b8;
}
